<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.limbo.dao.UserDao">
    <resultMap id="BaseResultMap" type="cn.limbo.domain.User">
        <result column="id" property="id"/>
        <result column="user_name" property="name" />
        <result column="description" property="description" />
    </resultMap>

    <parameterMap id="User" type="cn.limbo.domain.User"/>

    <sql id="Base_Column_List">
        id,user_name,description
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findAllUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>

    <insert id="saveUser" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        user(id,user_name,description)
        VALUES
        (#{id},#{name},#{description})
    </insert>

    <update id="updateUser" parameterMap="User">
        UPDATE
        user
        SET
        <if test="name!=null">
            user_name = #{name},
        </if>
        <if test="description!=null">
            description = #{description}
        </if>
        WHERE
        id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Long">
        DELETE FROM
        user
        WHERE
        id = #{id}
    </delete>
</mapper>